.button {
  padding: 5px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.filled {
  color: #fff;
  background-color: #ffb633;
}

.outlined {
  border: 1px solid #ffb633;
  color: #ffb633;
  text-align: center;
}
